body{
	background: aliceblue;
	background-image: url(../imagens/login.png);
    padding-top: 40px;
    opacity: 0.7;
    display: inline-block;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.voltar{
	display: block;
    border: 2px solid;
    width: max-content;
    padding: 4px 10px;
    margin-right: 50px;
    border-radius: 15px;
    float: right;
    background: aliceblue;
}

.intro {
	font-size: x-large;
    font-family: sans-serif;
    text-align: center;
    padding-left: 140px;
    background: aliceblue;
    margin-bottom: 35px;
}

.card-form {
	width: fit-content;
    border: 2px solid #337ab7;
    border-bottom: 15px solid;
    border-top: 5px;
    border-radius: 25px;
    padding: 2rem;
    color: #000;
    margin: auto;
    background: rgb(240, 248, 255, 1);
}

.botao-cadastro {
	 width: -webkit-fill-available;
    color: white;
    background: black;
    border-radius: 10px;
}
