h3.menu-cliente {
    text-align: center;
    background-color: #f1f1f1;
    font-weight: bold;
    padding: 10px;
}

h3.menu-cliente--intro {
    margin-bottom: 10px;
    margin-top: 0px;
    font-size: 22px;
    font-family: sans-serif;
}

button.botao-menu {
    background-color: #f1f1f1;
    border-radius: 10px;
    color: #000;
    padding: 8px;
    margin-bottom: 10px;
}

.filler-inicial {
    margin-top: -50px;
    max-height: -webkit-fill-available;
    background: url(https://images.unsplash.com/photo-1532968899863-5b52ef155913?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4a11b7e…&w=1000&q=80);
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 300px;
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 31%, 18% 31%, 15% 13%, 14% 31%, 0 31%);
    clip-path: polygon(0 100%, 100% 100%, 100% 31%, 18% 31%, 15% 13%, 14% 31%, 0 31%);
}


.row.banner-convite {
	display: block;
    background-color: #f1f1f1;
    font-family: cursive;
    text-align: start;
    position: relative;
    min-height: 70px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

.text .flick {
    position: absolute;
    width: -webkit-fill-available;
    left: 25%;
    margin-left: -225px;
    height: 50px;
    top: 50%;
    margin-top: -20px;
    font-size: xx-large;
    font-family: fantasy;
}

p .flick {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.word {
  position: absolute;
  width: -webkit-fill-available;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
  color: #0e1111;
}

.belize {
  color: #232b2b;
}

.pomegranate {
  color: #353839;
}

.green {
  color: #3b444b;
}

.midnight {
  color: #414a4c;
}